.main {
    background-image: url("./../image/df-min.jpg")
}
.cadre {
    height: 300px
    width: 400px
    background-color: #cc541d;
    text-align: center;
    }

.element1 {
    z-index: 1; /* Élévation de l'élément 1 */
}
      
.element2 {
    z-index: 2; /* Élévation de l'élément 2 */
}