    .cadre {
    border-top: 10px solid #f0eded;
    border-bottom: 10px solid #f0eded;
    padding: 3px;
    background-color: #f0eded;
    margin-top: 0;
    margin-bottom: 10px; /* Espacement entre les cadres */
    }